---
interface Props {
    image: string;
    headline: string;
    smallText: string;
    description: string;
    imageDescription: string;
}

const { image, headline, smallText, description, imageDescription } = Astro.props;
---

<article
    class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 min-h-80
        w-full max-w-sm mx-auto transition-colors duration-700 ease-in-out md:min-h-75 lg:min-h-90"
    onclick={`expandInfoCard(this)`}
>
    {/* Background Image */}
    <img
        src={image}
        alt={imageDescription}
        class="absolute inset-0 h-full w-full object-cover
          transition-opacity duration-700 ease-in-out"
    />
    <div
        class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40
          transition-opacity duration-700 ease-in-out"
    >
    </div>

    {/* Info Icon */}
    <span
        class="w-10 h-10 cursor-pointer z-10 transition-opacity duration-500 ease-in-out
          absolute top-4 right-4 opacity-100"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="bi bi-info-circle-fill w-full h-full fill-black"
            viewBox="0 0 16 16"
        >
            <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"
            ></path>
        </svg>
    </span>

    {/* Title */}
    <h3
        class="z-10 mt-3 text-3xl font-bold text-white text-left
          transition-transform duration-700 ease-in-out"
    >
        {headline}
    </h3>

    {/* Short Text */}
    <div
        class="z-10 gap-y-1 text-sm leading-6 text-left
               transition-transform duration-700 ease-in-out
               -translate-y-6 text-grey-300"
    >
        {smallText}
    </div>

    {/* Hidden Description */}
    <div
        class="z-10 text-sm leading-6 text-left transition-all duration-700 ease-in-out opacity-0 max-h-0 mt-0 overflow-hidden"
    >
        {description}
    </div>
</article>

<script is:inline>
    /**
     * Transitions information card from it's current state to either expanded or not-expanded
     * @param {HTMLElement} element
     */
    function expandInfoCard(element) {
        // Grab all the elements
        const image = element.getElementsByTagName("img")[0];
        const expanded = image.classList.contains("opacity-0");
        const infoIconContainer = element.getElementsByTagName("span")[0];
        const svgIcon = infoIconContainer.getElementsByTagName("svg")[0];
        const [bgGradient, shortTex, description, ..._] =
            element.getElementsByTagName("div");
        const title = element.getElementsByTagName("h3")[0];

        if (expanded) {
            // Transition to not expanded state
            image.classList.add("opacity-100");
            image.classList.remove("opacity-0");
            infoIconContainer.classList.add("opacity-100");
            svgIcon.classList.remove("fill-white");
            svgIcon.classList.add("fill-black");
            title.classList.add("translate-y-0");
            title.classList.remove("-translate-y-6");
            bgGradient.classList.add("opacity-100");
            bgGradient.classList.remove("opacity-0");
            description.classList.add(
                "opacity-0",
                "max-h-0",
                "mt-0",
                "overflow-hidden",
            );
            description.classList.remove("opacity-100");
            description.classList.remove("max-h-96");
            description.classList.remove("mt-2");
            description.classList.remove("text-white");
        } else {
            // Transition to expanded state
            image.classList.add("opacity-0");
            image.classList.remove("opacity-100");
            infoIconContainer.classList.remove("opacity-100");
            svgIcon.classList.remove("fill-black");
            svgIcon.classList.add("fill-white");
            title.classList.add("-translate-y-6");
            title.classList.remove("translate-y-0");
            bgGradient.classList.add("opacity-0");
            bgGradient.classList.remove("opacity-100");
            description.classList.add(
                "opacity-100",
                "max-h-96",
                "mt-2",
                "text-white",
            );
            description.classList.remove("opacity-0");
            description.classList.remove("max-h-0");
            description.classList.remove("mt-0");
            description.classList.remove("overflow-hidden");
        }
    }
</script>
